<div class="col-md-12">
 <div class="row box">
   <div class="box-inner col-md-6 col-md-offset-3">
     <h1 class="title">Gold Job</h1>
     <p class="slogan">
       Hey,you there.
       <br>这里有需要你的工作
       <br>Gold Job欢迎优秀能干的伙伴
       <br>如果你有足够的自信
       <br>加入我们吧。

     </p>
     <p class="lead">
       <%= link_to 'Join us', jobs_path, class: 'btn btn-danger' %>
     </p>
   </div>
 </div>
</div>

<div class="content-section-a">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">填写好你的履历</h2>
       <p class="lead">一份不错的履历会吸引HR的注意</p>
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
       <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>

<div class="content-section-b">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">调查公司的背景与要求</h2>
       <p class="lead">面试之前在网上通过各种渠道获取公司信息
                   <br>记下这些信能在面试中加不少分
                   <!-- <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p> -->
     </div>
     <div class="col-lg-5 col-sm-pull-6  col-sm-6">
       <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>

<div class="content-section-a">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">不明白的问题<br>来咨询我们吧</h2>
       <p class="lead">这里有一个不错的参考网站<a target="_blank" href="http://bt2.bt87.cc/index.php">资源</a></p>
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
       <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>
