/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 // 上面的“;”分号在上一step不记得加上了，会导致下面添加的代码失效。
 @import url(http://fonts.googleapis.com/css?family=Roboto);

// -------字体·思源黑体-------
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效

 body {
      font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
      color: #666;                                        // 修改全站的字体主色 压低亮度
      }
 //---------Navbar---------

.navbar-default {
    background-color: #212121;
    border-color: #212121;
    // margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #a5a5a5;
    padding: 10px 40px;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #a5a5a5;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}

.container-fluid {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}





//---------Box---------

.box {
   background-image: url("header.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 50px;
   margin-top: -20px;

   .box-inner {
       background-color: rgba(250, 250, 250, 0.0);
       padding-bottom: 5px;
       margin-top: 150px;
       margin-bottom: 150px;
   }

   .title {
       text-align: center;
       margin-bottom: 40px;
       color: #F5F5F5;
   }

   .slogan {
       color: #222;
       margin-top: 10px;
       margin-bottom: 50px;
       text-align: center;
       font-size: 25px;
       top: 12px;
   }

   .lead {
       margin-bottom: 60px;
       text-align: center;
       color: white;
   }
}
//---------Content---------

.content-section-a {
    padding: 0px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 0px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

 //---------Footer---------

 footer {
     color: #a5a5a5;
 }

 footer .footer-below {
     padding: 55px 0;
     background-color: #212121;
 }

// 添加admin表壳外框
 .custab{
   border: 1px solid #ccc;

   padding: 5px;
   margin: 5% 0;
   box-shadow: 3px 3px 2px #ccc;

   transition: 0.5s;
 }

 .custab:hover{
   box-shadow: 3px 3px 0px transparent;
   transition: 0.5s;
 }


 // 设置弹窗样式
 // 若不设置此样式，弹窗会是透明风格，感觉好像更好。。

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

// -----common------
.col-center{
  float: none;
  margin: 0 auto;
}




// .panel-primary > .panel-heading {
//     color: rgba(49, 112, 143, 0.48);
//     background-color: rgb(255, 191, 74);
// }



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

// a {
//  background-color: #D3D3D3;
// }



// ----圆形翻页----
// .pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
