<footer class="text-center">
  <!-- 这里添加"navbar-fixed-boottom"的class可以置底 -->
  <div class="footer-below">

    <p class="text-center">Copyright © Full Stack
        <br>Design by <br> 谭宇

    </p>
    </div>
</footer>
